<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>微商城</title>
	<meta name='viewport' content='width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no'>
	<meta name='apple-mobile-web-app-capable' content='yes'>
	<meta name='apple-mobile-web-app-status-bar-style' content='black'>
	<meta name='format-detection' content='telephone=yes'>
	<link rel="stylesheet" href="__PUBLIC__/Wap/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC__/Wap/css/font-awesome.css">
	<link rel="stylesheet" href="__PUBLIC__/Wap/css/iscroll.css">
	<link rel="stylesheet" href="__PUBLIC__/Wap/css/shop/style.css">
	<script src='__PUBLIC__/Wap/js/iscroll.js'></script>
	<script type="text/javascript">
	    var myScroll;
	    function loaded() {
	        myScroll = new iScroll('wrapper', {
	            snap: true,
	            momentum: false,
	            hScrollbar: false,
	            onScrollEnd: function () {
	                document.querySelector('#indicator > li.active').className = '';
	                document.querySelector('#indicator > li:nth-child(' + (this.currPageX+1) + ')').className = 'active';
	            }
	        });


	    }
	    document.addEventListener('DOMContentLoaded', loaded, false);
	</script>
</head>
<body>

	<div class="banner">
	  <div id="wrapper">
	    <div id="scroller">
	      <ul id="thelist">
	        <volist name="flash" id="so">
	              <li>
	                <p>{$so.info}</p>
	                <a href="<if condition="$so['url'] neq ''">{$so.url}<else/>javascript:void(0);</if>"><img src="{$so.img}" /></a>
	              </li>
	        </volist>
	      </ul>
	    </div>
	  </div>
	  <div id="nav">
	    <div id="prev" onclick="myScroll.scrollToPage('prev', 0,400,3);return false">&larr; prev</div>
	    <ul id="indicator">
	      <volist name="flash" id="so"> <li   
	        <if condition="$i eq 1">class="active"</if>
	        >{$i}
	        </li>
	      </volist>
	    </ul>
	    <div id="next" onclick="myScroll.scrollToPage('next', 0);return false">next &rarr;</div>
	  </div>
	  <div class="clr"></div>
	</div>

	<div class="container-fluid">
		<form action="">
			<div class="form-group has-feedback" id='search'>
				<label for="inputSuccess5" class="control-label sr-only">Hidden label</label>
				<input class="form-control input-lg" id="inputSuccess5" type="text">
				<span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
			</div>
		</form>
	</div>

	<script src='__PUBLIC__/Wap/js/jQuery.js'></script>

	<script type="text/javascript">
		$(function(){
			$('.glyphicon-search').click(function(){
				alert('ok');
			})
		})
	</script>

	<script>
	    var count = document.getElementById("thelist").getElementsByTagName("img").length;  
	    for(i=0;i<count;i++){
	        document.getElementById("thelist").getElementsByTagName("img").item(i).style.cssText = " width:"+document.body.clientWidth+"px";
	    }
	    document.getElementById("scroller").style.cssText = " width:"+document.body.clientWidth*count+"px";
	    setInterval(function(){
	        myScroll.scrollToPage('next', 0,400,count);
	    },3500 );
	    window.onresize = function(){ 
	        for(i=0;i<count;i++){
	            document.getElementById("thelist").getElementsByTagName("img").item(i).style.cssText = " width:"+document.body.clientWidth+"px";
	        }
	        document.getElementById("scroller").style.cssText = " width:"+document.body.clientWidth*count+"px";
	    }
	</script>
</body>
</html>