    <!--=== Copyright ===-->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">                     
                    <p>
                        2015 &copy; wxbuluo.com ALL Rights Reserved. 
                    </p>
                </div>
                <div class="col-md-6">  
                    <a href="index.html">
                        <img alt="" src="__PUBLIC__/Home/wxbuluo/images/logo2-default.png" id="logo-footer" class="pull-right">
                    </a>
                </div>
            </div>
        </div> 
    </div><!--/copyright-->     

    <div class="scroll-to-top" data-spy="affix" data-offset-top="200"><a href="#page" class="smooth-scroll"><span class="glyphicon glyphicon-plane"></span></a></div>
  
    <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/wxbuluo/assets/js/bootstrap-3.1.1.min.js"></script>


    <script src="__PUBLIC__/Weixin/artDialog/js/dialog-min.js"></script> <!-- Custom codes -->
    
    <script type="text/javascript">
        $(function(){
            $('#page').css({
                height: window.innerHeight - 64
            });
        })
    </script>
    <block name='extra_js'></block>
