    <meta charset="utf-8">
    <meta property="qc:admins" content="2527077611016670254576375" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <block name="seo"></block>

    <link href="__PUBLIC__/Home/wxbuluo/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/wxbuluo/assets/css/style.css" rel="stylesheet">
     <link href="__PUBLIC__/Weixin/artDialog/css/ui-dialog.css" rel="stylesheet">
  <!-- Favicon -->
  <link rel="shortcut icon" href="__PUBLIC__/Weixin/img/favicon/favicon.png">