<extend name='Base/common'/>
<block name='kindeditor'>
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/Weixin/kindeditor/themes/default/default.css">
  <script type="text/javascript" src='__PUBLIC__/Weixin/kindeditor/kindeditor.js'></script>
  <script type="text/javascript" src='__PUBLIC__/Weixin/kindeditor/lang/zh_CN.js'></script>
    <script type="text/javascript">
    KindEditor.ready(function(K){
    
    var editor = K.editor({
        allowFileManager : true,
        uploadJson : '__PUBLIC__/Weixin/kindeditor/php/upload_json.php?o={$Think.session.token}',
    fileManagerJson : '__PUBLIC__/Weixin/kindeditor/php/file_manager_json.php?o={$Think.session.token}',
      });
      
      K('#chooseimg').click(function(){
        editor.loadPlugin('image', function(){
          editor.plugin.imageDialog({
            imageUrl : K('#pic').val(),
            clickFn : function(url,title,width,height,border,align){
              K('#pic').val(url);
              editor.hideDialog();
            }
          })
        })
      })
    })
  </script>
</block>

<block name='body'>
  <div class="matter">
   <div class="container">
      <form class="form-horizontal" role="form" method="post" action="">
                                     
        <div class="form-group">
          <label class="col-lg-2 control-label">标题</label>
          <div class="col-lg-5">
            <input class="form-control" type="text" required='required' name='title' id='title' value="{$data.title}">
          </div>
        </div>
                          
        <div class="form-group">
          <label class="col-lg-2 control-label">图片</label>
          <div class="col-lg-5">
            <input class="form-control" name="pic" id="pic" required='required' value="{$data.pic}">
          </div>
          <div class='col-lg-1'>
            <input type='button' value='选择图片' id='chooseimg' class='btn btn-success'>
          </div>
        </div>
        
        <input type='hidden' name='id' value="{$_GET['id']}">                                                         
        <input type='hidden' name='pid' value="{$_GET['pid']}">                                                         
        <div class="form-group">
          <div class="col-lg-offset-2 col-lg-6">
            <input type="submit" class="btn btn-sm btn-success" value='保存'>

          </div>
        </div>
      </form> 
   </div>
  </div>

</block>
