<extend name='Base/common'/>

<block name='body'>
  <div class="matter">
   <div class="container">
      <form class="form-horizontal" role="form" method="post" action="">
                              
        <div class="form-group">
          <label class="col-lg-2 control-label">关键词</label>
          <div class="col-lg-5">
            <input class="form-control" placeholder="多个关键词请用空格格开：例如: 美丽 漂亮 好看" type="text" required='required' name='keyword'>
          </div>
        </div>
               
        <div class="form-group">
          <label class="col-lg-2 control-label">标题</label>
          <div class="col-lg-5">
            <input class="form-control" type="text" required='required' name='title'>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-lg-2 control-label">简介</label>
          <div class="col-lg-5">
            <textarea class="form-control" rows="5" placeholder="" name='info' required='required'></textarea>
          </div>
        </div>
 
        
        
        <div class="form-group">
          <label class="col-lg-2 control-label">外链地址</label>
          <div class="col-lg-5">
            <input class="form-control" placeholder="" type="text" name='url'>
          </div>
        </div>
                                                                 
        <div class="form-group">
          <div class="col-lg-offset-2 col-lg-6">
            <button type="submit" class="btn btn-sm btn-success">保存</button>

          </div>
        </div>
      </form> 
   </div>
  </div>

</block>