<extend name='Base/common'/>

<block name='body'>
  <div class="matter">
        <div class="container">
          <a href="{:U('itemlist',array('id'=>$_GET['pid']))}" class="btn btn-warning"><<返回列表</a>
          <a href="{:U('selectadd',array('id'=>$_GET['id'],'itemid'=>$_GET['pid']))}" class="btn btn-success">新增选项</a>        

                <div class="widget">

                <div class="widget-head">
                  <div class="pull-left">选项列表</div>
                  <div class="clearfix"></div>
                </div>

                  <div class="widget-content">

                    <table class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>标题</th>
                          <th>操作</th>
                        </tr>
                      </thead>
                      <tbody>
                        <volist name='list' id='vo'>
                        <tr>
                          <td>{$i}</td>
                          <td>{$vo.itemname}</td>
                          <td>
                              <a href="{:U('selectedit',array('id'=>$vo['id'],'pid'=>$_GET['id'],'itemid'=>$_GET['pid']))}"><button class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i> </button></a>
                              <a href="{:U('selectdel',array('id'=>$vo['id'],'itemid'=>$_GET['pid']))}"><button class="btn btn-xs btn-danger"><i class="fa fa-times"></i> </button></a>
                          </td>
                        </tr>
                        </volist>                               
                      </tbody>
                    </table>

                    <div class="widget-foot">

                     
                        <ul class="pagination pagination-sm pull-right">
                          <li><a href="#">Prev</a></li>
                          <li><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">Next</a></li>
                        </ul>
                     
                      <div class="clearfix"></div> 

                    </div>

                  </div>

                </div>

        </div>
  </div>   
</block>