<extend name='Base/common' />

<block name='body'>
    <div class="content">
        <volist name='info' id='vo'>
        <a href="<if condition="$vo['url'] eq ''">{:U('Wap/Index/lists',array('classid'=>$vo['id']))}
        <else/>
        {$vo.url|htmlspecialchars_decode}
        </if>
        ">
        <div class="col-xs-6">
            <div class="row">
                <div class="bg">
                    <img src="{$vo.img}" class='img-responsive img-circle center-block img-thumbnail'>
                    <h1 class='text-center'>{$vo.name}</h1>
                    <p>{$vo.info}</p>
                </div>                
            </div>

        </div>
        </a>
        </volist>
    </div>
</block>