<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>获取图文外链</title>
	<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Wap/bootstrap/css/bootstrap.min.css">

</head>
<body>
	<div class="container">
		<div class="col-sm-12">
			<h4>微互动</h4>
			<ul class="list-inline">
				<li><a href="{:U('getLinkItem',array('module'=>'Magzine'))}" class='btn btn-success'>微杂志</a></li>
				<li><a href="{:U('getLinkItem',array('module'=>'Reply'))}" class='btn btn-success'>留言板</a></li>
				<li><a href="{:U('getLinkItem',array('module'=>'Vote'))}" class='btn btn-success'>微投票</a></li>
			</ul>
		</div>
	</div>
</body>
</html>