.clr {
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
}
.content{
	margin-top: 10px;
	padding-left: 9px;
	padding-right: 9px;
}
.content .row{
	padding:2px 2px 2px 2px;
}
.content .bg{
	background: #fff;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.content .bg img{
	width:100px;
	height:100px;
}
.content h1{
	font-size: 14px;
	margin-top:10px;
}
.content p{
	font-size: 12px;
	color:#666;
	padding-left: 10px;
	padding-right: 10px;
}