.hover-effect{position:relative;display:inline-block;max-width:100%}.hover-effect .overlay{width:100%;height:100%;display:block;background:transparent;position:absolute;top:0;color:#fff;text-align:center;line-height:100%;-webkit-transition:all .5s;transition:all .5s}.hover-effect .fa{top:60%;margin-top:-15px;position:absolute;left:50%;margin-left:-15px;width:30px;height:30px;line-height:30px;color:transparent;-webkit-transition:all .5s;transition:all .5s}.parallax-background{background-position:50% 0;background-attachment:fixed}@media (max-width:991px){.section{padding:30px 0}}.section.section-center{text-align:center}.section.section-hilite{background:#eee}.section .section-title{margin:0 0 30px;text-align:center;position:relative}@media (max-width:991px){.section .section-title{font-size:24px}}@media (max-width:767px){.section .section-title{margin:0 0 15px}}.section .section-title:after{content:"";display:block;height:1px;background:#f5f5f5;position:absolute;top:20px;width:100%}@media (max-width:991px){.section .section-title:after{top:15px}}.section.section-hilite .section-title:after{background:#e5e5e5}.section .section-title span{background:#fff;padding:0 10px;z-index:1;position:relative}.section.section-hilite .section-title span{background:#eee}.section.section-features{padding-bottom:0}.section.section-features .icon-wrap{width:128px;height:128px;margin:0 auto}.section.section-features p{margin-bottom:60px}@media (max-width:991px){.section.section-features p{margin-bottom:30px}}.section.section-testimonial .carousel-control{background:0}.section.section-testimonial .carousel-indicators{position:inherit;margin:0;left:auto;width:100%;bottom:auto}.section.section-testimonial .carousel-indicators li{width:auto;height:auto;text-indent:0;border:0;border-radius:60px;padding:5px;margin:5px!important;background:#fff;position:relative}.section.section-testimonial .carousel-indicators li.active{background:#f15f4c}.section.section-testimonial .carousel-indicators li.active:before{content:"";display:block;width:0;height:0;border:10px solid transparent;border-bottom-color:#f15f4c;position:absolute;top:-15px;left:50%;margin-left:-10px}.section.section-portfolio{padding-bottom:0;text-align:center}.section.section-portfolio .post{margin-bottom:60px}@media (max-width:991px){.section.section-portfolio .post{margin-bottom:30px}}.section.section-portfolio .entry-thumbnail img{width:100%}.section.section-portfolio #filters{list-style-type:none;margin:0 0 30px}.section.section-portfolio #filters li{display:inline-block;margin:0 5px;color:#eee}.section.section-portfolio .portfolio-isotope .portfolio-item{margin:0 0 30px}.section.section-portfolio .portfolio-isotope .col-lg-3,.section.section-portfolio .portfolio-isotope .col-md-3,.section.section-portfolio .portfolio-isotope .col-sm-3,.section.section-portfolio .portfolio-isotope .col-xs-3{margin-left:-1px}.section.section-pricing h1{margin:10px 0}.section.section-pricing .panel-body{padding:0}.section.section-pricing .pricing-table table{margin:0}.section.section-pricing .pricing-table tr td:first-child{border-top:0}.section.section-blog{padding-bottom:0}.section.section-blog .post{margin-bottom:60px}@media (max-width:991px){.section.section-blog .post{margin-bottom:30px}}@media (max-width:767px){.section.section-blog .entry-thumbnail{margin:0 0 15px}.section.section-blog .entry-thumbnail a{display:block}.section.section-blog .entry-thumbnail img{width:100%;height:auto;display:block}}.section.section-our-clients{padding-bottom:0}.section.section-our-clients a{background:#fff;display:block;text-align:center;margin-bottom:60px;-webkit-transition:all .5s;transition:all .5s}@media (max-width:991px){.section.section-our-clients a{margin-bottom:30px}}.section.section-our-clients a:hover,.section.section-our-clients a:active{-webkit-box-shadow:0 0 0 1px #999 inset;box-shadow:0 0 0 1px #999 inset}.section.section-cta .main-action{margin:20px 0 0}@media (max-width:767px){.section.section-cta .main-action{margin:0}.section.section-cta .main-action .btn{margin:20px 0 0}}.section.section-contact form{margin-top:30px}.section.section-contact textarea{min-height:132px;resize:none}.section.section-gmap{padding:0;background:#ddd}.section.section-gmap .gmap{width:100%;height:480px;display:block}.section-slide .item{text-align:center;padding:60px 0;left:0!important;-webkit-transition:opacity .5s;transition:opacity .5s}@media (max-width:991px){.section-slide .item{padding:30px 0}}@media (max-width:767px){.section-slide .item{padding:15px 0}}.section-slide .item img{-webkit-transition:opacity .5s;transition:opacity .5s}.section-slide .next.left,.section-slide .prev.right{opacity:1;filter:alpha(opacity=100);z-index:1}.section-slide .next.left img,.section-slide .prev.right img{opacity:1;filter:alpha(opacity=100)}.section-slide .active.left,.section-slide .active.right{opacity:0;filter:alpha(opacity=0);z-index:2}.section-slide .active.left img,.section-slide .active.right img{opacity:0;filter:alpha(opacity=0)}.section-slide .carousel-control{z-index:3;opacity:0;filter:alpha(opacity=0);-webkit-transition:opacity .5s;transition:opacity .5s}.section-slide .carousel-control span{top:50%;margin-top:-10px;right:30px;position:absolute}.section-slide .carousel-control.left span{right:auto;left:30px}.section-slide:hover .carousel-control{opacity:1;filter:alpha(opacity=100)}.site-header{position:absolute;width:100%}.site-topbar{background:#4b494f;padding:10px 0;color:#999}.site-topbar a{color:#fff;padding:0 10px}.site-topbar a:hover,.site-topbar a:active{color:#999}.site-topbar .social-links{text-align:right}@media (max-width:767px){.site-topbar{text-align:center}.site-topbar .social-links{margin:10px 0 0;text-align:center}}.site-navbar{background:#fff;box-shadow:0 1px 0 0 rgba(0,0,0,.1);margin:0;z-index:999;width:100%;top:0}.site-navbar .navbar-brand{margin:0}.site-navbar .navbar-brand i{font-size:40px;line-height:38px;display:inline-block;float:left;margin:2px 10px 0 0;color:#f15f4c}.site-navbar .navbar-brand a{display:inline-block;line-height:40px;font-size:24px;color:#4b494f;font-family:Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif}.site-navbar .navbar-brand a:hover,.site-navbar .navbar-brand a:active{color:#f15f4c;text-decoration:none}@media (max-width:991px){.site-navbar .navbar-brand{padding:8px 15px}.site-navbar .navbar-brand i{font-size:24px;line-height:30px}.site-navbar .navbar-brand a{font-size:18px;line-height:30px}}.site-navbar .navbar-nav{margin:15px 0}.site-navbar .navbar-nav .active a,.site-navbar .navbar-nav a:active{background:#f15f4c;color:#fff}@media (min-width:992px){.site-navbar .navbar-nav a{padding:10px 15px;border-radius:4px;margin:0 0 0 5px}}@media (max-width:991px){.site-navbar .navbar-nav{margin-top:0;margin-bottom:0}.site-navbar .navbar-nav li{border-top:1px solid #eee}.site-navbar .navbar-nav li .active{border-top:0}}.site-navbar .navbar-toggle{margin:13px 15px;font-size:24px;line-height:10px;outline:0;color:#555}@media (max-width:991px){.site-navbar .navbar-toggle{margin:5px 15px;font-size:18px}}.site-main{padding-top:110px}@media (max-width:991px){.site-main{padding-top:50px}}.site-content{padding:60px 0}.site-footer{text-align:center;background:#4b494f;color:#999;padding:50px 0 0}@media (max-width:991px){.site-footer{padding:30px 0 0}}.site-footer a{color:#fff}.site-footer a:hover,.site-footer a:active{color:#999}.site-footer ul{list-style-type:none;padding:0}.site-footer ul:before,.site-footer ul:after{content:" ";display:table}.site-footer ul:after{clear:both}.site-footer ul:before,.site-footer ul:after{content:" ";display:table}.site-footer ul:after{clear:both}.site-footer li{line-height:25px}.site-footer .form-control{border:0}.site-footer .social-links{margin:15px 0 0}.site-footer .social-links li{display:inline-block;margin:0 5px 0 0}.site-footer .social-links a{border:2px solid #eee;border-radius:40px;display:block;width:35px;height:35px;text-align:center;line-height:30px}.site-footer .widget{margin:0 0 50px}@media (max-width:991px){.site-footer .widget{margin:0 0 30px}}.site-footer .widget p:last-child{margin:0}.site-footer .widget-title{color:#eee;margin:0 0 15px}@media (max-width:767px){.site-footer .widget-title{border-top:1px solid rgba(255,255,255,.1);padding-top:30px}}.site-footer .widget:first-child .widget-title{border-top:0!important;padding-top:0!important}.site-footer #sidebar-footer-2{border-top:1px solid rgba(255,255,255,.1);padding:50px 0 0}@media (max-width:991px){.site-footer #sidebar-footer-2{padding:30px 0 0}}.site-footer #sidebar-footer-2 .widget:first-child:before{content:"";display:block;height:100%;width:1px;background:rgba(255,255,255,.1);position:absolute;right:0}.site-footer #sidebar-footer-2 .tweet{background:rgba(0,0,0,.1);border:1px solid rgba(255,255,255,.1);max-width:320px;margin:0 auto;padding:20px;min-height:100px}.site-footer .widget_flickr a{margin:0 5px}.site-footer .widget_flickr img{width:100px}.site-footer .copyright{border-top:5px solid rgba(255,255,255,.1);font-size:12px;padding:20px 0 10px}#secondary .widget-area{border:1px solid #eee;border-radius:10px;padding:29px}.post:before,.post:after{content:" ";display:table}.post:after{clear:both}.post:before,.post:after{content:" ";display:table}.post:after{clear:both}.post .entry-title{font-size:24px;margin:0 0 15px}.post .entry-meta{margin-bottom:15px;font-size:12px;color:#999}.single-project .project-thumbnail{margin:0 0 20px}.single-project .btn{margin:0 0 20px}.single-project .project-info li{border-top:1px solid #eee;padding:5px 0}.single-project .project-info li:first-child{padding-top:0;border-top:0}.scroll-to-top{background:#333;position:fixed;bottom:20px;right:20px;text-align:center;border-radius:4px;z-index:9999;opacity:0;filter:alpha(opacity=0);-webkit-transition:opacity .5s;transition:opacity .5s}.scroll-to-top.affix{opacity:.5;filter:alpha(opacity=50)}.scroll-to-top:hover{opacity:1;filter:alpha(opacity=100)}.scroll-to-top a{color:#fff;display:block;line-height:40px;width:40px;height:40px}.isotope-item{z-index:2}.isotope-hidden.isotope-item{pointer-events:none;z-index:1}.isotope,.isotope .isotope-item{-webkit-transition-duration:.8s;-moz-transition-duration:.8s;-ms-transition-duration:.8s;-o-transition-duration:.8s;transition-duration:.8s}.isotope{-webkit-transition-property:height,width;-moz-transition-property:height,width;-ms-transition-property:height,width;-o-transition-property:height,width;transition-property:height,width}.isotope .isotope-item{-webkit-transition-property:-webkit-transform,opacity;-moz-transition-property:-moz-transform,opacity;-ms-transition-property:-ms-transform,opacity;-o-transition-property:-o-transform,opacity;transition-property:transform,opacity}.isotope.no-transition,.isotope.no-transition .isotope-item,.isotope .isotope-item.no-transition{-webkit-transition-duration:0s;-moz-transition-duration:0s;-ms-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s}

    body{font-family: microsoft yahei;}
    .section-title span{color: #FEA005;font-weight: bold;}
    .entry-thumbnail img{border-radius: 5px;}
    .hover-effect .overlay{background:rgba(241,95,76,0.5);height: 50px;border-top: 3px solid #fff;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;position: relative;top: -50px;}
    .hover-effect .overlay h4{margin-top: 10px;}
    .site-navbar .navbar-nav .active a, .site-navbar .navbar-nav a:active{background: #74c52c;}
    .site-footer{padding: 0px;}
    .site-main{padding-top:30px;}
    .section-slide .item h1{line-height: 200px;color: #fff;}

/*Footer*/
.footer {
  color: #dadada;
  background: #585f69;
  padding: 20px 0 30px;
}

.footer.margin-top-0 {
  margin-top: 0;
}

.footer p,
.footer a {
  font-size: 14px;
} 
.footer p {
  color: #dadada;
} 

.footer a {
  color: #72c02c;
}
.footer a:hover {
  color: #a8f85f;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.footer h2, 
.footer h3,
.footer h4 {
  color: #e4e4e4;
  background: none;
  text-shadow: none;
}

/*Footer Subsribe*/
.footer .footer-subsribe {
  width: 85%;
}

/*Footer Blog Posts*/
.footer .blog-list {
  margin: 0;
  padding: 0;
  color: #dadada;
  list-style: none;
}

.footer .blog-list li {
  padding: 0 0;
  margin-bottom: 7px; 
}
.footer .blog-list li span {
  color: #818488;
}

.footer .dl-horizontal,
.footer .dl-horizontal:hover {
  border: none !important;
  background: none !important;
}
.footer .posts .dl-horizontal a {
  color: #dadada;
}
.footer .dl-horizontal a:hover {
  color: #a8f85f !important;
}
.footer .dl-horizontal img {
  border-color: #888 !important;
}

/*Copyright*/
.copyright {
  font-size: 12px;
  padding: 11px 0 7px;
  background: #3e4753;
  border-top: solid 1px #777; 
}

.copyright p {
  color: #dadada;
  margin-top: 12px;
}

.copyright a {
  margin: 0 5px;
  color: #72c02c;
}
.copyright a:hover {
  color: #a8f85f;
}

.copyright a img {
  margin-top: 5px;
}
.headline {
  display: block;
  margin: 10px 0 25px 0;
  border-bottom: 1px dotted #e4e9f0;
}
.headline h2{
  font-size: 22px;
  display: inline-block;
  border-bottom:2px solid #72c02c;
  margin: 0 0 -2px 0;
}

/* Login and Register form */

.admin-form{
  max-width: 500px;
  margin: auto;
}

.admin-form .container{
  width:100% !important;
  max-width:100% !important;
}

.admin-form form{
  padding: 10px 0px;
}

.widget .widget-head,.modal-header{
  background-color: #f8f8f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
  background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: linear-gradient(top, #f8f8f8, #f2f2f2); 
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  text-shadow:0px 1px #fff;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #fff;
  color: #666;
  font-size: 13px;
  font-weight: bold;
    padding: 8px 15px;
    margin-bottom: 20px;
}
.widget .widget-foot, .modal-footer{
  background-color: #f8f8f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
  background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: linear-gradient(top, #f8f8f8, #f2f2f2); 
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  text-shadow:0px 1px #fff;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #ccc;
  padding: 8px 15px;
  font-size: 12px;
  color: #555;
  box-shadow: inset 0px 1px 1px #fff;
  margin-top: 20px;
}
/* Widget */

.worange {
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  margin-top: 40px;
  margin-bottom: 20px; 
  background: #fafafa;
}

.entry-thumbnail{
  border-radius: 5px;
}

.entry-thumbnail a{
  color: #555;
  text-decoration: none;
  width: 100%;
}

.bg1{background: #e9d2b3;}
.modal-open {
  overflow: initial !important;
}
#portfolio{
  margin-top: 40px;
}

#page{
  background: #585f69;
}
