<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>关注我吧</title>
	<meta neme='viewport' content='width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no'>
	<meta name='apple-mobile-web-app-capable' content='yes'>
	<meta name='apple-mobile-web-app-status-bar-style' content='black'>
	<meta name='format-detection' content='telephone=yes'>
	<script src='__PUBLIC__/Wap/js/jQuery.js'></script>

	<style>
		body{margin: 0;padding: 0;}
		#bg{background:url(__PUBLIC__/Wap/images/qrcode/bg.jpg) no-repeat;background-size: 100% 100%;max-width: 640px;margin: 0 auto;}
	</style>
</head>
<body>
	<div id="bg">
		
	</div>
	<script type="text/javascript">
		$(function(){
			$('#bg').css('height',$(document).height());
			$('#bg').css('width',$(document).width());
		})
	</script>		
</body>
</html>